/**
 * Spectral CSS
 * Copyright 2020

 * @author Kyle Escobar
 */

{
    -black-dark: #141A1F;
    -black: #1A2128;
    -black-light: #28343E;
    -white-dark: #6B859E;
    -white: #A6B5C5;
    -blue-dark: #1F9FFC;
    -blue: #7DBEFF;
    -purple-dark: #8466F3;
    -purple: #CB96FF;
    -red-dark: #EC5252;
    -red: #FF9191;
    -orange-dark: #C97016;
    -orange: #EDA55D;
    -green-dark: #5DA713;
    -green: #9ACD68;
    -aqua-dark: #13AFAF;
    -aqua: #6ECFCF;
}

@font-face {
    font-family: 'spectral';
    src: url('fonts/spectral.ttf');
}

.root {
    -fx-base: -black;
    -fx-background-color: -black-dark;
    -fx-control-inner-background: -black;
    -fx-dark-text-color: -white-dark;
    -fx-mid-text-color: -white;
    -fx-accent: -black-light;
    -fx-focus-color: -black-light;
    -fx-text-base-color: -white;
    -fx-border-color: derive(-black-dark, -25%);
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-font-family: 'roboto';
}

.label {
    -fx-text-fill: -white;
    -fx-font-family: 'roboto';
}

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/

.button {
}

/*******************************************************************************
 *                                                                             *
 * MenuBar                                                                     *
 *                                                                             *
 ******************************************************************************/

.menu-bar {
    -fx-background-color: -black-dark;
}

/*******************************************************************************
 *                                                                             *
 * ScrollBar                                                                   *
 *                                                                             *
 ******************************************************************************/

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Separator                                                                   *
 *                                                                             *
 ******************************************************************************/

.separator:horizontal .line {
    -fx-border-color: derive(-black-dark, -20%) transparent transparent transparent;
}

.separator:vertical .line {
    -fx-border-color: transparent derive(-black-dark, -20%) transparent transparent;
}

/*******************************************************************************
 *                                                                             *
 * TextInput                                                                   *
 *                                                                             *
 ******************************************************************************/

.text-input {
    -fx-text-fill: -white;
}

/*******************************************************************************
 *                                                                             *
 * TextField                                                                   *
 *                                                                             *
 ******************************************************************************/

.text-field {
    -fx-background-color: -black-dark, derive(-black, -20%);
    -fx-text-fill: -white;
}

.text-field:focused {
    -fx-background-color: -fx-focus-color, derive(-black, -20%);
}

/*******************************************************************************
 *                                                                             *
 * ListView and ListCell                                                       *
 *                                                                             *
 ******************************************************************************/

.list-cell:odd {
    -fx-background-color: derive(-fx-control-inner-background, -10%);
}

.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
}

/*******************************************************************************
 *                                                                             *
 * SplitPane                                                                   *
 *                                                                             *
 ******************************************************************************/

.split-pane {
    -fx-background-color: -black-dark, -fx-control-inner-background;
}

.split-pane-divider {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: derive(-black, -10%);
    -fx-padding: 0 2 0 2;
    -fx-background-color: derive(-black, 10%);
}

/*******************************************************************************
 *                                                                             *
 * TabPane                                                                     *
 *                                                                             *
 ******************************************************************************/

.tab .tab-label {
    -fx-text-fill: -white;
}

.tab-pane *.tab-header-background {
}

/*******************************************************************************
 *                                                                             *
 * TableView                                                                   *
 *                                                                             *
 ******************************************************************************/

.table-row-cell {
    -fx-text-fill: -white;
}

.table-row-cell:filled:selected:focused, .table-row-cell:filled:selected {
    -fx-background-color: -fx-selection-bar;
}

.table-row-cell:filled .table-cell:selected:focused,  .table-row-cell:filled .table-cell:selected {
    -fx-background-color: -fx-selection-bar;
}

/*******************************************************************************
 *                                                                             *
 * Progress Bar                                                                *
 *                                                                             *
 ******************************************************************************/

.progress-bar .bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-blue-dark, 95%), derive(-blue-dark, 10%)),
        linear-gradient(to bottom, -blue-dark, -purple-dark);
}